<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="layout :: page">
	<head>
		<meta charset="utf-8" />
		<title>Muss</title>
	</head>
	
	<body>
		<div th:fragment="content">
		    <div class="panel panel-default">
		    	<div class="panel-heading">
		    		<h3 class="panel-title">Change Picture</h3>
		    	</div>
		        <div class="panel-body">
		        	<form enctype="multipart/form-data" method="post">
		        		<div class="form-group">
				        	<label>File</label>
				            <input type="file" name="file" />
			        	</div>
			        	<div class="form-group">
				        	<input class="btn btn-success" type="submit" value="Save" />
				        	<a class="btn btn-danger" th:href="@{/user/profile}">Cancel</a>
			        	</div>
		        	</form>
		        </div>
		    </div>
		</div>
	</body>
</html>