<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<meta charset="utf-8" />
<title>Muss</title>
</head>

<body>
	<div th:fragment="content">
		<h1>Muss</h1>
		<a th:href="@{/}">Back to home</a>

		<div th:if="${user.picture == ''}">
			<h3>Photo</h3>
			<img th:src="${user.picture}" width="300" height="auto" />
		</div>

		<h3>Profile</h3>
		<table>
			<tr>
				<td>Name</td>
				<td th:text="${user.name}"></td>
			</tr>
			<tr>
				<td>Username</td>
				<td th:text="${user.username}"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td th:text="${user.email}"></td>
			</tr>
			<tr>
				<td>Points</td>
				<td th:text="${user.points}"></td>
			</tr>
		</table>

		<h3>Reviews</h3>
		<ul>
			<li th:each="review : ${user.reviews}" th:text="${review.title}"></li>
		</ul>

		<h3>Likes</h3>
		<ul>
			<li th:each="like : ${user.chObjectLikes}" th:text="${like.title}"></li>
		</ul>

		<h3>Followers</h3>
		<ul>
			<li th:each="follower : ${user.followers}" th:text="${follower.name}"></li>
		</ul>

		<h3>Following</h3>
		<div th:each="followed : ${user.followed}">
			<table>
				<tr>
					<td th:text="${followed.name}"></td>
					<td th:if="${user.id} == ${principal.id}">
						<a th:href="@{/user/unfollow/{userId}(userId=${followed.id})}">Unfollow user</a>
					</td>
				</tr>
			</table>
		</div>

		<div th:if="${user.id} != ${principal.id}">
			<div th:if="${#lists.contains(principal.followed, user)}">
				<a th:href="@{/user/unfollow/{userId}(userId=${user.id})}">Unfollow user</a>
			</div>
			<div th:if="not ${#lists.contains(principal.followed, user)}">
				<a th:href="@{/user/follow/{userId}(userId=${user.id})}">Follow user</a>
			</div>
		</div>
	</div>
</body>

</html>