<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="layout :: page">
	<head>
		<meta charset="utf-8" />
		<title>Muss</title>
	</head>
	
	<body>
		<div th:fragment="content">
		
		    <p>
		    	<a th:href="@{/}" class="btn btn-primary" role="button">Back to home</a>
		    </p>
		    
		    <div class="panel panel-default">
		    	<div class="panel-heading">
		    		<h3 class="panel-title">Profile</h3>
		    	</div>
		        <div class="panel-body">
		        	<div class="col-xs-3">
				    	<img th:src="${user.picture} ? @{/user/{id}/picture(id=${user.id})} : 'http://www.hit4hit.org/img/login/user-icon-6.png' " width="100%"/>
					</div>
		        	<div class="col-xs-3">
		        		<div class="form-group">
				        	<label>Name</label>
				            <p th:text="${user.name}"></p>
			        	</div>
			        	<div class="form-group">
				        	<label>Username</label>
				            <p th:text="${user.username}"></p>
			        	</div>
			        	<div class="form-group">
				        	<label>Email</label>
				            <p th:text="${user.email}"></p>
			        	</div>
			        	<div class="form-group">
				        	<label>Points</label>
				            <p th:text="${user.points}"></p>
			        	</div>
		        	</div>
		        	<div class="col-xs-3" th:if="${principal.id==user.id}">
		        		<p><a class="btn btn-success" th:href="@{/user/editProfile}">Edit profile</a></p>
		        		<p><a class="btn btn-success" th:href="@{/user/changePicture}">Change picture</a></p>
		        		<p><a class="btn btn-success" th:href="@{/user/changePassword}">Change password</a></p>
		        	</div>
		        	<div class="col-xs-3" th:if="${principal.id!=user.id}">
					    <div th:if="${user.beingFollowed(principal)} == false">
							<a th:href="@{/user/follow/{userId}(userId=${user.id})}" class="btn btn-primary" role="button">Follow user</a>
							
						</div>
						<div th:if="${user.beingFollowed(principal)}">
							<a th:href="@{/user/unfollow/{userId}(userId=${user.id})}" class="btn btn-primary" role="button">Unfollow user</a>
						</div>
		        	</div>
		        </div>
		    </div>
		    
		    <h3>Reviews</h3>
		    <p th:if="${#lists.isEmpty(user.reviews)}">The user doesn't have reviews.</p>
			<div class="col-sm-6" th:each="review : ${user.reviews}">
				<div class="review panel panel-default" th:id="|review-${review.id}|">
					<header class="panel-heading">
						<a th:href="@{/gallery/{objId}(objId=${review.chObject.id})}">
							<h3 class="panel-title" th:text="${review.title}"></h3>
						</a>
						<span class="rated">
							<span th:each="i : ${#numbers.sequence( 1, review.rating)}">☆</span>
						</span>
						<span class="reviewer">by <span th:text="${review.user.name}"></span> (<a
								th:href="@{/user/profile/{username}(username=${review.user.username})}"
								th:text="|@${review.user.username}|"></a>)</span>
					</header>
					<div class="panel-body" th:text="${review.content}">
						Panel content
					</div>
				</div>
			</div>

		    <h3>Object Likes</h3>
		    <p th:if="${#lists.isEmpty(user.chObjectLikes)}">The user doesn't have objects likes.</p>
			<div class="col-sm-6 col-md-3" th:each="object : ${user.chObjectLikes}">
				<a th:href="@{/gallery/{objectID}(objectID=${object.id})}">
				<div class="square-image" th:style="|background-image:url(${object.images.get(0).sizes.get(0).url})|"></div>
				</a>
			</div>

		    <h3>Review Likes</h3>
		    <p th:if="${#lists.isEmpty(user.reviewLikes)}">The user doesn't have review likes.</p>
			<div class="col-sm-6" th:each="review : ${user.reviewLikes}">
				<div class="review panel panel-default" th:id="|review-${review.id}|">
					<header class="panel-heading">
						<a th:href="@{/gallery/{objId}(objId=${review.chObject.id})}">
							<h3 class="panel-title" th:text="${review.title}"></h3>
						</a>
						<span class="rated">
							<span th:each="i : ${#numbers.sequence( 1, review.rating)}">☆</span>
						</span>
						<span class="reviewer">by <span th:text="${review.user.name}"></span> (<a
								th:href="@{/user/profile/{username}(username=${review.user.username})}"
								th:text="|@${review.user.username}|"></a>)</span>
					</header>
					<div class="panel-body" th:text="${review.content}">
						Panel content
					</div>
				</div>
			</div>

		    <h3>Followers</h3>
		    <p th:if="${#lists.isEmpty(user.followers)}">The user doesn't have followers.</p>
		    <a class="btn btn-info" th:each="follower : ${user.followers}" th:text="'@'+${follower.username}" th:href="@{/user/profile/{username}(username=${follower.username})}"></a>
		    
		    <h3>Following</h3>
		    <p th:if="${#lists.isEmpty(user.followed)}">The user isn't following other users.</p>
		    <a class="btn btn-info" th:each="followed : ${user.followed}" th:text="'@'+${followed.username}" th:href="@{/user/profile/{username}(username=${followed.username})}"></a>
			
			<!-- Javascript TODO: extract to its own file -->
		    <script sec:authorize="isAuthenticated()" th:inline="javascript">
		    /*<![CDATA[*/
		    var userID = [[${user.id}]];
		    var username = [[${user.username}]];
		    var time = [[${time}]];
		    var HMAC = [[${HMAC}]];
		    /*]]>*/
		    </script>
		    <script th:inline="javascript">
		        /*<![CDATA[*/
		        if (typeof userID === 'undefined') {
		            var userID = -1;
		            var username = '';
		        }
		        // Current object ID
		        var objectID = -1;
		        /*]]>*/
		    </script>
		</div>
	</body>
</html>