<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:include="layout :: page">
	<head>
		<meta charset="utf-8" />
		<title>Muss</title>
	</head>
	
	<body>
		<div th:fragment="content">
			<h1>Muss</h1>
		    <a th:href="@{/}" class="btn btn-primary" role="button">Back to home</a>
	
			<div th:if="${user.picture == ''}">
				<h3>Photo</h3>
				<img th:src="${user.picture}" width="300" height="auto"/>
			</div>
		    
		    <h3>Profile</h3>
		    <table>
		        <tr>
		            <td>Name</td>
		            <td th:text="${user.name}"></td>
		        </tr>
		        <tr>
		            <td>Username</td>
		            <td th:text="${user.username}"></td>
		        </tr>
		        <tr>
		            <td>Email</td>
		            <td th:text="${user.email}"></td>
		        </tr>
		        <tr>
		            <td>Points</td>
		            <td th:text="${user.points}"></td>
		        </tr>
		    </table>
		    
		    <h3>Reviews</h3>
		    <div class="row">
		        <div class="col-xs-6" th:each="review : ${user.reviews}">
		            <div class="review panel panel-default" th:id="|review-${review.id}|">
		                <header class="panel-heading">
		                    <h3 class="panel-title" th:text="${review.title}"></h3>
		                    <span class="rated">
		                        <span th:each="i : ${#numbers.sequence( 1, review.rating)}">☆</span>
		                    </span>
		                    <span class="reviewer">by <span th:text="${review.user.name}"></span> (<a
		                            th:href="@{/user/profile/{username}(username=${review.user.username})}"
		                            th:text="|@${review.user.username}|"></a>)</span>
		                </header>
		                <div class="panel-body" th:text="${review.content}">
		                    Panel content
		                </div>
		                <footer class="panel-footer">
		                    <span>Loading...</span>
		                    <button sec:authorize="isAuthenticated()" th:id="|likeReview${review.id}Button|" type="submit"
		                            class="btn btn-danger no-displayed"><i class="fa fa-heart"></i>
		                    </button>
		                    <button sec:authorize="isAuthenticated()" th:id="|unlikeReview${review.id}Button|" type="submit"
		                            class="btn btn-disabled no-displayed"><i class="fa fa-thumbs-down"></i>
		                    </button>
		                </footer>
		            </div>
		        </div>
		    </div>
		    
		    <h3>Likes</h3>
		    <ul>
		        <li th:each="like : ${user.chObjectLikes}" th:text="${like.title}"></li>
		    </ul>
		    
		    <h3>Followers</h3>
		    <ul>
		        <li th:each="follower : ${user.followers}" th:text="${follower.name}"></li>
		    </ul>
		    
		    <h3>Followed</h3>
		    <ul>
				<li th:each="followed : ${user.followed}">
				
			        <table>
				        <tr>
				            <td th:text="${followed.name}"></td>
				            <td>
								<a th:href="@{/user/unfollow/{userId}(userId=${followed.id})}" class="btn btn-primary" role="button">Unfollow user</a>
							</td>
						</tr>
					</table>
				</li>
		    </ul>
		    
		    <div th:if="${principal.id!=user.id}">
			    <div th:if="${user.beingFollowed(principal)} == false">
					<a th:href="@{/user/follow/{userId}(userId=${user.id})}" class="btn btn-primary" role="button">Follow user</a>
					
				</div>
				<div th:if="${user.beingFollowed(principal)}">
					<a th:href="@{/user/unfollow/{userId}(userId=${user.id})}" class="btn btn-primary" role="button">Unfollow user</a>
				</div>
			</div>
			<!-- Javascript TODO: extract to its own file -->
		    <script sec:authorize="isAuthenticated()" th:inline="javascript">
		    /*<![CDATA[*/
		    var userID = [[${user.id}]];
		    var username = [[${user.username}]];
		    var time = [[${time}]];
		    var HMAC = [[${HMAC}]];
		    /*]]>*/
		    </script>
		    <script th:inline="javascript">
		        /*<![CDATA[*/
		        if (typeof userID === 'undefined') {
		            var userID = -1;
		            var username = '';
		        }
		        // Current object ID
		        var objectID = -1;
		        /*]]>*/
		    </script>
		</div>
	</body>
</html>