<header class="navbar navbar-inverse navbar-fixed-top" th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Muss</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li th:class="${#httpServletRequest.getRequestURI() == '/stram' ? 'active':''}">
                	<a th:href="@{/stream}">Stream</a>
                </li>
                <li th:class="${#httpServletRequest.getRequestURI() == '/gallery' ? 'active':''}">
                	<a th:href="@{/gallery}">Gallery</a>
                </li>
                <li th:class="${#httpServletRequest.getRequestURI() == '/user/list' ? 'active':''}">
                    <a th:href="@{/user/list}">User list</a>
                </li>
            </ul>
            
            <div sec:authorize="isAuthenticated()" class="navbar-form navbar-right">
           		<a th:href="@{/logout}" class="btn btn-sm btn-danger">Logout</a>
			</div>
			
			<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li th:class="${#httpServletRequest.getRequestURI() == '/user/profile' ? 'active':''}">
                    <a th:href="@{/user/profile}" sec:authentication="name"></a>
                </li>
           	</ul>
			
			<div sec:authorize="isAnonymous()" class="navbar-form navbar-right">
            	<a th:href="@{/login}" class="btn btn-sm btn-success">Login</a>
                <a th:href="@{/register}" class="btn btn-sm btn-primary">Register</a>
            </div>
        </div>
        <!--/.nav-collapse -->

    </div>
</header>