<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:fragment="page">
<head>
    <meta charset="utf-8"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css" th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" type="text/css"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:include="this :: content" class="container"></div>
    <div th:replace="fragments/footer :: footer">&copy; 2015 Apps Development Frameworks</div>

</body>
</html>